{% extends 'admin_base.html' %}

{% block content%}
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="title" style="padding: 15px; text-align: center;">
            <h3 style="display: inline-block; margin-right: 10px;">Main Categories</h3>
            <a href="{% url 'add_main_category' %}"><input type="submit" value="Add" class="btn btn-outline-success" style="display: inline-block; float: right;"></a>
        </div>
        <div class="table">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">title</th>
                        <th scope="col">Top Category</th>
                        <th scope="col">MCID</th>
                        <th scope="col">Images</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for f in form %}
                        <tr>
                            <th scope="row">{{ f.id }}</th>
                            <td><a href="{% url 'edit_main_category' f.id %}">{{ f.title }}</a></td>
                            <td>{{ f.top_category }}</td>
                            <td>{{ f.mcid }}</td>
                            <td><img style="width: 40px; height: 40px;" src="{{ f.image.url }}" alt=""></td>
                            <td><a href="{% url 'delete_main_category' f.id %}"><button class="btn btn-outline-danger btn-md">Delete</button></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content%}