
<!-- product_detail.html -->

{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'product_detail.css' %}">
<header>

<section class="py-5" style="margin-top: -60px;">
	<div class="container">
	    <div class="row gx-5">
		    <aside class="col-lg-6" style="margin-top: 20px;">
			    <!-- Your existing carousel HTML -->
			    <div id="carouselExample" class="carousel slide" style="margin: auto; width: 600px; height: auto;">
				    <div class="carousel-inner">
					    {% for p in product_images %}
						    <div class="carousel-item {% if forloop.first %}active{% endif %}">
							    <img style="max-width: 600px; height: auto;" src="{{ p.images.url }}" class="d-block w-100" alt="...">
						    </div>
					    {% endfor %}
				    </div>
				    <!-- Carousel controls -->
				    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
					    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
					    <span class="visually-hidden">Previous</span>
				    </button>
				    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
					    <span class="carousel-control-next-icon" aria-hidden="true"></span>
					    <span class="visually-hidden">Next</span>
				    </button>
			    </div>
		    </aside>
		    <main class="col-lg-6" style="margin-top: 10px;">
		        <div class="ps-lg-3">
			        <h4 style="font-size: 35px; font-weight: 700; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" class="title text-dark">
			            {{ product.title }} <br />
			            <h5 style="font-size: 25px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgb(111, 111, 111);">{{ product.description }}</h5>
			        </h4>
			    <div class="d-flex flex-row my-3">
			        <div class="text-warning mb-1 me-2">
				        <i class="fa fa-star"></i>
				        <i class="fa fa-star"></i>
				        <i class="fa fa-star"></i>
				        <i class="fa fa-star"></i>
				        <i class="fas fa-star-half-alt"></i>
				        <span class="ms-1">
				            4.5
				        </span>
			        </div>
			        <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i>154 orders</span>
			    </div>
            
			    <div class="mb-3">
			        <span style="font-size: 35px; font-weight: 700; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">$</span><span style="font-size: 35px; font-weight: 700; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" class="current-product-price-{{ p.id }}">{{ product.price }}</span>
			        <span style="color: #5a5a5a; text-decoration: line-through; padding: 5px; font-size: 20px; font-weight: 600;">${{ product.old_price }}</span>
				    <span style="color: rgb(0, 163, 0);font-size: 20px; font-weight: 500;">{{  product.get_percentage | floatformat:0  }}% off</span>
			    </div>

                <br>
			    <div class="row">
			        <dt class="col-3" style="font-size: 20px;">Category:</dt>
			        <dd class="col-9" style="font-size: 20px; font-weight: 500;">{{ product.top_category }}</dd>
			        <dt class="col-3" style="font-size: 20px;">Type:</dt>
			        <dd class="col-9" style="font-size: 20px; font-weight: 500;">{{ product.type }}</dd>
			        <dt class="col-3"style="font-size: 20px;">Available:</dt>
			        {% if product.stock_count > 0 %}
			            <dd class="col-9" style="font-size: 20px; font-weight: 500; color:rgb(0, 163, 0) ;">In Stock ({{ product.stock_count }})</dd>
			        {% else %}
			            <dd class="col-9" style="color: rgb(212, 4, 4);font-size: 20px; font-weight: 500;">Out of Stock</dd>
			        {% endif %}
			    </div>
                <br>
			    <hr />
			    <div class="row mb-4">
			        <div class="col-md-4 col-6">
				        <label class="mb-2" style="font-weight: 500;">Size</label>
				        <select class="form-select border border-secondary" style="height: 35px;">
				        {% for p_attr in product.productattribute_set.all %}
				            <option>{{ p_attr.size.title }}</option>
				        {% endfor %}
				        </select>
			        </div>
			        <!-- col.// -->
			        <div class="col-md-4 col-6" style="margin-left: -15px;">
				        <label class="mb-2" style="font-weight: 500;">Colour</label>
				        <select class="form-select border border-secondary" style="height: 35px;">
				        {% for p_attr in product.productattribute_set.all %}
				            <option>{{ p_attr.colour.colour_code }}</option>
				        {% endfor %}
				        </select>
			        </div>
			    </div>
			    <label for="" style="font-weight: 500;">Quantity</label>
			    <input type="number" name="" placeholder="Qty" value="1" id="product-quantity" class="w-25 mb-20 form-select border border-secondary product-quantity-{{ p.id }}">
			    <br><br>
			    <input type="hidden" value="1" id="product-quantity" class="product-quantity-{{ p.id }}">
                <input type="hidden" class="product-pid-{{ p.id }}" value="{{ product.pid }}">
				<input type="hidden" class="product-stock-count-{{ p.id }}" value="{{ product.stock_count }}">
                <input type="hidden" class="product-image-{{ p.id }}" value="{{ product.image.url }}">
                <input type="hidden" class="product-id-{{ p.id }}" value="{{ product.id }}">
                <input type="hidden" class="product-title-{{ p.id }}" value="{{ product.title }}">
				{% if product.stock_count > 0 %}
			    <a href="#" class="btn btn-dark border border-secondary py-2 icon-hover px-3 add-to-cart-btn" data-index="{{ p.id }}" style="margin-right:15px;"> <i class="me-1 fa fa-shopping-cart"></i> Add to cart </a>
				{% endif %}
			    <a href="#" class="btn btn-dark border border-secondary py-2 icon-hover px-3"><i class="me-1 fa fa-heart fa-lg"></i> Add to Wishlist </a>
		        </div>
		    </main>
	    </div>
	</div>
</section>
<!-- content -->
  
<section class="bg-light border-top py-4">
	<div class="container">
	    <div class="row gx-4">
			<div class="col-lg-8 mb-4">
				<div class="border rounded-2 px-3 py-2 bg-white">
				  <!-- Pills navs -->
				  <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
					<li class="nav-item" role="presentation">
					  <a class="nav-link active" id="ex1-tab-1" data-bs-toggle="pill" href="#ex1-pills-1" role="tab" aria-controls="ex1-pills-1" aria-selected="true">Description</a>
					</li>
					<li class="nav-item" role="presentation">
					  <a class="nav-link" id="ex1-tab-2" data-bs-toggle="pill" href="#ex1-pills-2" role="tab" aria-controls="ex1-pills-2" aria-selected="false">Review</a>
					</li>
					<li class="nav-item" role="presentation">
					  <a class="nav-link" id="ex1-tab-3" data-bs-toggle="pill" href="#ex1-pills-3" role="tab" aria-controls="ex1-pills-3" aria-selected="false">Shipping info</a>
					</li>
					<li class="nav-item" role="presentation">
					  <a class="nav-link" id="ex1-tab-4" data-bs-toggle="pill" href="#ex1-pills-4" role="tab" aria-controls="ex1-pills-4" aria-selected="false">Seller profile</a>
					</li>
				  </ul>
				  <!-- Pills navs -->
			  
				  <!-- Pills content -->
				  <div class="tab-content" id="ex1-content">
					<div class="tab-pane fade show active" id="ex1-pills-1" role="tabpanel" aria-labelledby="ex1-tab-1">
					  <!-- Specification content here -->
					  Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, consectetur eligendi? Eligendi eius ad fugiat optio fugit illum soluta, vel, maiores libero autem quasi ut eveniet ducimus doloribus facilis tempore!
					</div>
					<div class="tab-pane fade" id="ex1-pills-2" role="tabpanel" aria-labelledby="ex1-tab-2">
					  <!-- Warranty info content here -->
					  <div class="container">
					  <div class="col-md-12">
						  <div class="offer-dedicated-body-left">
							  <div class="tab-content" id="pills-tabContent">
								  <div class="tab-pane fade" id="pills-order-online" role="tabpanel" aria-labelledby="pills-order-online-tab">
									  <div class="row">
										  <div class="col-md-12">
											  <div class="bg-white rounded border shadow-sm mb-4">
												  
												  <div class="gold-members p-3 border-bottom">
													  
													  <div class="media">
														  <div class="mr-3"><i class="icofont-ui-press text-danger food-item"></i></div>
														  
													  </div>
												  </div>
												  <div class="gold-members p-3">
													  
													  <div class="media">
														  <div class="mr-3"><i class="icofont-ui-press text-success food-item"></i></div>
														  
													  </div>
												  </div>
											  </div>
										  </div>
									  </div>
									</div>
								  <div class="tab-pane fade active show" id="pills-reviews" role="tabpanel" aria-labelledby="pills-reviews-tab">
									  
									  <div class="bg-white rounded shadow-sm p-4 mb-4 clearfix graph-star-rating">
										  <h5 class="mb-0 mb-4">Ratings and Reviews</h5>
										  
										  <div class="graph-star-rating-body">
											  <div class="rating-list">
												  <div class="rating-list-left text-black">
													  5 Star
												  </div>
												  <div class="rating-list-center">
													  <div class="progress">
														  <div style="width: 56%" aria-valuemax="5" aria-valuemin="0" aria-valuenow="5" role="progressbar" class="progress-bar bg-primary">
															  <span class="sr-only">80% Complete (danger)</span>
														  </div>
													  </div>
												  </div>
												  <div class="rating-list-right text-black">56%</div>
											  </div>
											  <div class="rating-list">
												  <div class="rating-list-left text-black">
													  4 Star
												  </div>
												  <div class="rating-list-center">
													  <div class="progress">
														  <div style="width: 23%" aria-valuemax="5" aria-valuemin="0" aria-valuenow="5" role="progressbar" class="progress-bar bg-primary">
															  <span class="sr-only">80% Complete (danger)</span>
														  </div>
													  </div>
												  </div>
												  <div class="rating-list-right text-black">23%</div>
											  </div>
											  <div class="rating-list">
												  <div class="rating-list-left text-black">
													  3 Star
												  </div>
												  <div class="rating-list-center">
													  <div class="progress">
														  <div style="width: 11%" aria-valuemax="5" aria-valuemin="0" aria-valuenow="5" role="progressbar" class="progress-bar bg-primary">
															  <span class="sr-only">80% Complete (danger)</span>
														  </div>
													  </div>
												  </div>
												  <div class="rating-list-right text-black">11%</div>
											  </div>
											  <div class="rating-list">
												  <div class="rating-list-left text-black">
													  2 Star
												  </div>
												  <div class="rating-list-center">
													  <div class="progress">
														  <div style="width: 2%" aria-valuemax="5" aria-valuemin="0" aria-valuenow="5" role="progressbar" class="progress-bar bg-primary">
															  <span class="sr-only">80% Complete (danger)</span>
														  </div>
													  </div>
												  </div>
												  <div class="rating-list-right text-black">02%</div>
											  </div>
										  </div>
										  <div class="graph-star-rating-footer text-center mt-3 mb-3">
											  <button type="button" class="btn btn-outline-primary btn-sm">Rate and Review</button>
										  </div>
									  </div>
									  <div class="bg-white rounded shadow-sm p-4 mb-4 restaurant-detailed-ratings-and-reviews">
										  <h5 class="mb-1">All Ratings and Reviews</h5>
										  <div class="reviews-members pt-4 pb-4">
											  <div class="media">
												  <div class="media-body">
													  <div class="reviews-members-header">
														  <span class="star-rating float-right">
																<a href="#"><i class="icofont-ui-rating active"></i></a>
																<a href="#"><i class="icofont-ui-rating active"></i></a>
																<a href="#"><i class="icofont-ui-rating active"></i></a>
																<a href="#"><i class="icofont-ui-rating active"></i></a>
																<a href="#"><i class="icofont-ui-rating"></i></a>
																</span>
														  <h6 class="mb-1"><a class="text-black" href="#" style="text-decoration: none;">Singh Osahan</a></h6>
														  <p class="text-gray">Tue, 20 Mar 2020</p>
													  </div>
													  <div class="reviews-members-body">
														  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections </p>
													  </div>
													  
												  </div>
											  </div>
										  </div>
										  <hr>
										  
										  <hr>
										  <a class="text-center w-100 d-block mt-4 font-weight-bold" href="#">See All Reviews</a>
									  </div>
									  <div class="bg-white rounded shadow-sm p-4 mb-5 rating-review-select-page">
										  <h5 class="mb-4">Leave Comment</h5>
										  <p class="mb-2">Rate the Place</p>
										  <div class="mb-4">
											  <span class="star-rating">
													   <a href="#"><i class="icofont-ui-rating icofont-2x"></i></a>
													   <a href="#"><i class="icofont-ui-rating icofont-2x"></i></a>
													   <a href="#"><i class="icofont-ui-rating icofont-2x"></i></a>
													   <a href="#"><i class="icofont-ui-rating icofont-2x"></i></a>
													   <a href="#"><i class="icofont-ui-rating icofont-2x"></i></a>
													   </span>
										  </div>
										  <form>
											  <div class="form-group">
												  <label>Your Comment</label>
												  <textarea class="form-control"></textarea>
											  </div>
											  <br>
											  <div class="form-group">
												  <button class="btn btn-primary btn-sm" type="button"> Submit Comment </button>
											  </div>
										  </form>
									  </div>
								  </div>
							  </div>
						  </div>
					  </div>
					  </div>
					</div>
				  </div>
				  <!-- Pills content -->
				</div>
			  </div>
			  <div class="col-lg-4">
				<div class="px-0 border rounded-2 shadow-0">
				  <div class="card">
					<div class="card-body">
					  <h5 class="card-title">Similar items</h5>
					  {% for pro in products %}
					  <div class="d-flex mb-3">
						<a href="#" class="me-3">
						  <img src="{{ pro.image.url }}" style="min-width: 96px; height: 96px;" class="img-md img-thumbnail" />
						</a>
						<div class="info">
						  <a href="{% url 'view_product' pro.pid %}" class="nav-link mb-1" style="font-weight: 600; font-size: 20px; margin-top: 2px;">
							{{ pro.title }}
						  </a>
						  <h6>{{ pro.description }}</h6>
						  <div class="div">
                            <span><strong class="text-dark" style="font-size: 20px;">${{ pro.price }}</strong></span>
							<span><strong class="text-dark" style="font-weight: 500; text-decoration: line-through;">${{ pro.old_price }}</strong></span>
							<span style="text-decoration: none; font-weight: 500; color: rgb(3, 171, 3);">{{ pro.get_percentage | floatformat:0 }}% off</span>
						  </div>
						</div>
					   </div>
		               {% endfor %}
					</div>
				  </div>
				</div>
			  </div>
		</div>
	  </div>
	</div>
</section>

 
{% endblock %}