{% extends 'admin_base.html' %}

{% block content%}
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="title" style="padding: 15px; text-align: center;">
            <h3 style="display: inline-block; margin-right: 10px;">Products</h3>
        </div>
        <div class="table">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">title</th>
                        <th scope="col">Image</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Total Price</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for f in products %}
                        <tr>
                            <th scope="row">{{ f.id }}</th>
                            <td>{{ f.item }}</td>
                            <td> <img style="width: 40px; height: 40px;" src="{{ f.image }}" alt=""></td>
                            <td>{{ f.qty }}</td>
                            <td>{{ f.price }}</td>
                            <td>{{ f.total_price }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content%}